* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size:15px; 
}

header {
  height: 30px;
  background: #49a;
  color: #fff;
  display: flex;
}

#btn-menu {
  display: none;
}

header label {
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.menu ul {
  background: #fff;
  display: block;
  list-style: none;
  width: 190px;
  margin-top:5px;
  margin-left: 5px;
}

.menu ul ul {    
  display: none;
  margin-left: 190px;
  margin-top: -32px;
  width: 335px;
}

.menu ul li {  
  margin-top: 4px;
  background: #58a;
  padding:2;    
}

.menu ul li li{  
  margin-top: 0px;    
}

.menu a {
  display: block;
  padding: 5px;
  color: #FFF;
  text-decoration: none;
  line-height: 20px;
  font-family: 'Arial', sans-serif;
  font-weight: 100;
  background: #7ac; 
}

.sombra {
	display: block;
	width: 525px;
	padding: 5px;
	height:35px;
	background:none;
	margin-left: -190px;
}

.menu a:hover {
  background: #468;
}

.col1 {
  margin-left:190;
  margin-top: -16px;
}

.col2 {
  margin-left:10px;
  margin-top: -30px;
}

.col2b {
  margin-left:283;
  margin-top: -22px;
}

.menu a i {
  margin-left: 10px;
}

.menu ul li:hover {
  color:fff;
}

.menu ul li:hover ul {
  transition: all 0.3s ease;
  display: block;
  position: absolute;
}

.oculto {
	display:none;
}

@media (max-width: 550px) {
  .menu ul li:hover ul {
  transition: all 3s ease;
  display: block;
  position: inherit;
}

.menu ul ul {   
  margin-left: 25px;
  width: 300px;
  margin-top: -31px;	
}

.sombra {
	display:block;	
	width: 325px;
	padding: 5px;
	padding-top:5px;
	height:55px;	
	margin-left: -25px;	
}

.col1 {
  margin-left:24;
  margin-top: 5px;
}
}

