@charset "utf-8";
/* CSS Document */

/*Estilos links*/

body {
	background-color:#fff;
}

a:link {
color: #5E2104;
	text-decoration: none;
	font-weight:600;
}

a:visited {
color: #7F2E08;
	text-decoration: none;
	font-weight:600;
}

a:active {
color: #E84F09;
	text-decoration: none;
	font-weight:600;
}

a:hover {
color: #AD3B06;
	text-decoration: none;
	font-weight:600;
}

#header {
background: -webkit-linear-gradient(right, #b44d44, #b44d44, #641515); 
	}

.cel-bar {
background: -webkit-linear-gradient(right, #CC6666, #641515); 
	}

.menu-cab {
background-image:url("../graficos/head-red.jpg");
}

.adorno {
background-image:url("../../skins/cab-quarzo.jpg");
}

.tabla-headcel {
	background-color: #33110A;
	}

.mastemas:hover {
	background-color: #EFB65A;	
	}

.cabeza3 {
	color:#672B10;	
}

.titulo1 {
	color:#672B10;	
}


.titulo2 {	
	background:#702300;	
}

.tit-tipo {	
	background:#702300;	
}

.tit3 {		
	background:#60201C;	
}

.cabeza1 {	
	color:#672B10;	
}

.cabeza2 {	
	color:#672B10;
}
	.show-hidde:hover {
	background-color:#DB911A;
	}

/*Etiq visualizacion*/


.backAnim:hover{
background:#EFB65A;
}

/*Menú principal*/

ul.acel li a {							
background:#722F1F;				
			}

ul.acel li a:hover {background:#A84026;
}

.menu-lat {background:#722F1F;
}

.menu-sup {
background-image: url("../graficos/head-red.jpg");
}

/* Speech ballons */


/*Gestion de medios*/
/*Desktop
@media (min-width: 1100px)*/
	
	

/*Tablet Grande o PC chica  @media (min-width: 800px)and (max-width: 1099px){*/

	
	

/*Tablet chica*/
@media (min-width: 581px) and (max-width: 799px){	

.cerrar:hover {
	background-color:#EFB65A;
	}	
}

/*Mobile*/
@media (max-width: 580px){

	.cerrar:hover {
	background-color:#EFB65A;
	}
}




