@charset "utf-8";

/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
    transition-duration: 0.5s;
}

.cel-bar {
    display: none;
}

.barra-menu {
    position: fixed;
    top: 0px;
    margin-left: -10px;
    margin-top: 150px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    height: 39px;
    padding-left: 15%;
    background-color: #3a3b3d;
    z-index: 8888;
}

.logo-cel {
    display: none;
}

.head-cel {
    display: none;
}

.pc-cabeza {
    display: block;
}

.menu-top {
    position: fixed;
    display: flex;
    margin-right: 0px;
    right: 12px;
    top: 0px;
    margin-top: 10px;
}

.iframe-celbar {
    display: none;
}

.btn-menu-top {
    float: right;
    width: 30px;
    height: 30px;
    margin-top: 3px;
    margin-right: 7px;
    padding-top: 6px;
    padding-left: 4px
}

.btn-menu-top:hover {
    background-color: rgba(256, 256, 256, 0.35);
    opacity: 0.6;
    border-radius: 20px;
}

.bot-mastemas {
    position: fixed;
    right: 25px;
    top: 240px;
    z-index: 8888;
    max-width: 10px;
}


/* Mensajes de ayuda */

#opcion-a:hover+#top-a {
    display: block;
}

#opcion-b:hover+#top-b {
    display: block;
}

#opcion-c:hover+#top-c {
    display: block;
}

#top-a,
#top-b,
#top-c {
    display: none;
    text-align: center;
    max-width: 50px;
    position: absolute;
    background-color: hsla(87, 62%, 90%, 1.00);
    top: 42px;
    padding: 4px;
    font-family: "Lucida Sans", Verdana, "sans-serif";
    font-size: 10px;
    font-weight: normal;
    z-index: 9999999;
    -webkit-box-shadow: 2px 5px 7px #5E5D5D;
    -moz-box-shadow: 2px 5px 7px #5E5D5D;
}

.adorno {
    position: absolute;
    background-color: #777;
    right: 0px;
    top: 0px;
    height: 150px;
    width: 300px;
    z-index: 5555;
    opacity: 1.0;
    transition: 0.6s;
}

.oculto {
    display: none;
}

.m-active {
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tablet-show,
cel-show {
    display: none;
}

.cel-show {
    display: none;
}

.menu-top {
    position: fixed;
    display: flex;
    right: 40px;
    top: 140px;
}

.btn-menu-top {
    float: right;
    width: 26px;
    height: 26px;
    margin-top: 3px;
    margin-right: 7px;
    padding-top: 6px;
    padding-left: 4px
}

.btn-menu-top:hover {
    background-color: rgba(256, 256, 256, 0.5);
    opacity: 0.7;
    border-radius: 13px;
}

.colores {
    position: fixed;
    display: none;
    padding: 7px;
    background-color: #fff;
    top: 5px;
    right: 20px;
    width: 100px;
    z-index: 999999;
    -webkit-box-shadow: 2px 5px 7px #5E5D5D;
    -moz-box-shadow: 2px 5px 7px #5E5D5D;
}

.botonc {
    padding: 2px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top: 2px;
}

.cerrar-btn {
    width: 30px;
    height: 30px;
    color: #666;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding: 7px 10px 7px 10px;
    margin-top: 0px;
    border-radius: 20px;
    background-color: #AA9797;
    z-index: 9999;
}

.cerrar-btn:hover {
    background-color: #F44F4F;
    color: #fff;
}

.show-cel {
    display: none;
}

.show-pc {
    display: block;
}

ul.acorh {
    font-family: 'Roboto', sans-serif;
}

ul,
ol {
    list-style: none;
}

ul.acorh>li {
    float: left;
}

ul.acorh li a {
    color: #ccc;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

ul.acorh li a:hover {
    background-color: #21834f;
}

ul.acorh li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    border-bottom: 2px #222536 solid;
    border-right: thin #5E6692 solid;
    -webkit-box-shadow: 2px 5px 7px #5E5D5D;
    -moz-box-shadow: 2px 5px 7px #5E5D5D;
}

ul.acorh li:hover>ul {
    display: block;
}

ul.acorh li ul li {
    position: relative;
    background: hsla(212, 53%, 26%, 0.90);
}

ul.acorh li ul li ul {
    right: -140px;
}


/* Menu tablet y celular*/

@media (max-width: 760px) {
    .pc-cabeza {
        display: none;
    }
    .cel-bar {
        display: block;
        position: absolute;
        left: 0px;
        right: 0px;
        margin-top: -60px;
        width: 100%;
        padding-top: 0px;
        height: 60px;
        z-index: 888;
        transition: 0.5s;
        overflow: hidden;
    }
    .logo-cel {
        display: block;
    }
    .menu-top2 {
        display: block;
        position: absolute;
        display: flex;
        margin-right: 15px;
        right: 0px;
        top: 0px;
        margin-top: 3px;
        z-index: 9999;
    }
    .tablet-show {
        display: block;
    }
    .cel-show {
        display: none;
    }
    .colores {
        position: fixed;
        display: none;
        padding: 7px;
        background-color: #fff;
        top: 100px;
        right: 20px;
        width: 100px;
        z-index: 99999;
        -webkit-box-shadow: 2px 5px 7px #5E5D5D;
        -moz-box-shadow: 2px 5px 7px #5E5D5D;
    }
    ul.acel {
        font-family: 'Roboto', sans-serif;
    }
    .iframe-celbar {
        display: block;
        position: absolute;
        height: 0px;
        margin-top: 40px;
        margin-left: -205px;
        left: 0px;
    }
    ul,
    ol {
        list-style: none;
    }
    ul.acel>li {
        position: relative;
        left: -12px;
        top: 9px;
        width: 185px;
        opacity: 0.9;
    }
    ul.acel li a {
        background-color: #84A4B9;
        color: #fff;
        text-decoration: none;
        padding: 8px 18px 8px 18px;
        display: block;
        margin-left: 2px;
        border-bottom: thin #758E9E solid;
        border-top: thin #B5D0E1 solid;
    }
    ul.acel li a:hover {
        background-color: #136CAC;
    }
    ul.acel li ul {
        display: none;
        position: absolute;
        min-width: 125px;
    }
    ul.acel li:hover>ul {
        display: block;
        left: 183px;
        top: -38px;
    }
    ul.acel li ul li {
        position: relative;
        border-radius: 0px;
    }
    ul.acel li ul li ul {
        right: 140px;
        top: 0px;
    }
}


/* Menu celular*/

@media (max-width: 620px) {
    /* Nuevas etiquetas */
    .menu-top {
        display: none;
    }
    .logo-cel {
        display: block;
    }
    .menu-cel {
        display: block;
    }
    .menu-PC {
        display: none;
    }
    .scroll {
        position: sticky;
        top: 0px;
        margin-top: 80px;
        height: 33px;
        background-color: #3a3b3d;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        padding-top: 8px;
        z-index: 6666;
        white-space: nowrap;
        /* [1] */
        overflow-x: auto;
        /* [2] */
        -webkit-overflow-scrolling: touch;
        /* [3] */
        -ms-overflow-style: -ms-autohiding-scrollbar;
        /* [4] */
    }
    /* [5] */
    .scroll::-webkit-scrollbar {
        display: none;
    }
    .scroll a {
        width: 200px;
        height: 36px;
        padding: 11px;
        color: white;
    }
    .scroll a:hover {
        background-color: hsla(206, 40%, 58%, 1.00);
    }
    .scroll a:visited {
        color: hsla(236, 20%, 70%, 1.00);
    }
    .scroll a:link {
        color: hsla(0, 1%, 78%, 1.00);
    }
    .scroll a:hover {
        color: white;
    }
    .scroll a:active {
        color: hsla(58, 96%, 78%, 1.00);
    }
    .cel-head {
        width: 100%;
        height: 90px;
        position: absolute;
        margin-top: -132px;
    }
    .listado {
        width: 100%;
        left: 0px;
        right: 0px;
        padding: 10px;
        display: block;
        padding: 0px;
    }
    .list-item {
        width: 100vw;
        left: 0px;
        right: 0px;
        height: 30px;
        padding-top: 12px;
        background-color: white;
        color: #444;
        font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
        font-size: 18px;
        text-align: center;
        border-bottom: thin solid #aaa;
    }
    .list-item:hover {
        background-color: hsla(206, 40%, 58%, 1.00);
    }
    .adorno {
        position: absolute;
        background-color: #777;
        right: 0px;
        top: 0px;
        height: 90px;
        width: 183px;
        z-index: 5555;
        opacity: 1.0;
        transition: 0.6s;
    }
    .botonc {
        padding: 2px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        text-align: center;
        margin-top: 2px;
    }
    /* Terminan nuevas*/
    .tablet-show {
        display: none;
    }
    .cel-show {
        display: block;
    }
    .iframe-celbar {
        display: block;
        position: absolute;
        height: 0px;
        margin-top: 40px;
        margin-left: -205px;
        left: 0px;
        width: 100%;
    }
    .cel-bar {
        display: block;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        margin-top: -60px;
        width: 100%;
        height: 60px;
        z-index: 888;
        transition: 0.5s;
        overflow: hidden;
    }
}


/* Menu celular chico*/

@media (max-width: 420px) {
    .tablet-show {
        display: none;
    }
    .cel-show {
        display: block;
    }
    .cel-bar {
        display: block;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        margin-top: -60px;
        width: 100%;
        height: 60px;
        z-index: 888;
        transition: 0.5s;
        overflow: hidden;
    }
}