@charset "utf-8";
/* CSS Document */

/*Estilos links*/

body {
	background-color:#181A23;
}

.main-page {
	background-color:#181A23;
}

.m-active{
	background-color:#181A23;		
			}

a:link {
color: #2FA0D9;
	text-decoration: none;
	font-weight:600;
}

a:visited {
color: #51798E;
	text-decoration: none;
	font-weight:600;
}

a:active {
color: #DFF733;
	text-decoration: none;
	font-weight:600;
}

a:hover {
color: #01D180;
	text-decoration: none;
	font-weight:600;
}

#header {
background: -webkit-linear-gradient(right, #015585, #015585, #031236); 
	}

.cel-head {
background: #025484; 
	}

.adorno {
content:url("../../skins/cab-noche.jpg");
    height:150px;
}

.menu-sup {
background-image: url("../skins/cab-noche.jpg");
}

.tabla-headcel {
	background-color: #335060;
	}

.mastemas:hover {
	background-color: #7E9196;	
	}

.cabeza3 {
	color:#3D90AD;	
}

.titulo1 {
	color:#43B3BC;	
}

.titulo2 {	
	background:#3EBBE5;	
}

.tit-tipo {	
	background:#979C9E;	
}

.tit3 {		
	background:#869596;	
}

.cabeza1 {	
	color:#3D90AD;	
}

.cabeza2 {	
	color:#3D90AD;
}
	.show-hidde:hover {
	background-color:#4B8DDB;
	}
.texto {
	color:#A3DEF0;	
    }
.nota {
	color:#A3DEF0;	
    }
.ul-texto {
	color:#A3DEF0;	
    }
.ol-texto {
	color:#A3DEF0;	
    }

/*Menú principal*/

ul.acel li a {							
background:#515C68;				
			}

ul.acel li a:hover {
	background:#7B8793;
}

.menu-lat {
	background:#515C68;	
    }

/*Etiq visualizacion*/

.oculto {
	display:none;
}

.backAnim:hover{
background:#738DAC;
}

/* Speech ballons */


/*Gestion de medios*/
/*Desktop
@media (min-width: 1100px)*/
	
	

/*Tablet Grande o PC chica  @media (min-width: 800px)and (max-width: 1099px){*/

	
	

/*Tablet chica*/
@media (min-width: 621px) and (max-width: 1100px){	

.cerrar:hover {
	background-color:#738DAC;
	}
	
	.lateral {
		background-color:hsla(223,24%,20%,0.82)
	}
    .adorno {
content:url("../../skins/cab-noche.jpg");
    height:150px;
}
}

/*Mobile*/
@media (max-width: 620px){

	.cerrar:hover {
	background-color:#738DAC;
	}
    
    .adorno {
content:url("../../skins/cab-noche.jpg");
    height:90px;
}
}




